{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>consultadd</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</head>
<body>
	<header>
		<h1>Sample Html</h1>
		<nav>
			<ul>
				<li><a href="#">About me</a></li>
	
				<li><a href="#">Contact</a></li>
			</ul>
		</nav>
	</header>
	<main>
		<img src="{% static 'images/my_image.png' %}" alt="My Image">
		<p> Thank you Consultadd</p>
	
</html>
